# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Python Cache
.mypy_cache/
.ruff_cache/

# IDE
.idea/